@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        overflow-x: hidden;
        width: 100%;
    }
    
    body {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }
    
    * {
        max-width: 100%;
    }
}
